.Quiz {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	width: 100%;
	flex-grow: 1;
	background: linear-gradient(90deg, #5051b2 0%, #7969e6 100%);
	h1 {
		color: #ffffff;
	}
	&Wrapper {
		width: 600px;
	}
}
